body{
    font-family: Arial, Helvetica, sans-serif;
}
.menu-horizontal{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.menu-horizontal > li > a{
    text-decoration: none;
    color: black;
}
.menu-horizontal > li {
    padding: 0px 5px;
}
h1{
    text-align: center;
}
p{
    margin: 15px;
    text-align: justify;
}
.section-horizontal{
    display: flex;
    flex-direction: row;
}
